/* gap:25px - espaço entre elementos */

body{
    font-family: 'Dosis', sans-serif;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.nome{
    width: 100%;
    background-color: black;
    border: 5px;
    border-color: gold;
    border-style: groove;
    max-height: min-content;
}
.conteudo{
    display: flex;
}
.cont{
    background-color: black;
    color: antiquewhite;
    border: 3px;
    border-color: gold;
    border-style:groove;    
    width: 30%;
    transition: 0.15s ease-in-out;
    text-align: center;
    padding: 0 10px;;
}

.comunic{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.botaoCom{
    background-color: black;
    color: blue;
    border: 5px gold groove;
    padding: 5px;
    /* padding: 10px; */
    /* width: 100%; */
    flex-direction: column;
}
.dadosCon{
    border: 5px gold groove;
    background-color: darkslategray;
    padding: 5px;
}
.dadosCon:hover{
    transform: scale(1.05);
}
.formacao{
    background-color: darkslategrey;
    color: antiquewhite;
    border: 3px;
    border-color: gold;
    border-style:solid;
    width: 70%;
    padding: 0 10px;
}
.titu{
    text-align: center;
}
.facus{
    display: block;
    justify-content: end;
    /* background-color:darkslategray; */
}
.facu{
    border-bottom: 5px;
    border-bottom-color: gold;
    border-bottom-style: groove;
    padding-top: 15px;
}
h1{
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    font-size: 6vh;
}
h2{
    font-size: 5vh;
    border-bottom: 5px;
    border-bottom-color: gold;
    border-bottom-style: groove;
    padding: 15px 15px 15px 15px;
    background-color: black;
}
h3{
    font-size: 4vh;
    text-align: right;
}
h4{
    font-size: 3vh;
    text-align: right;
    padding-bottom: 10px;
}
h5{
    text-align: justify;
    width: 100%;
}