body{
    font-family: 'Dosis', sans-serif;
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
main{
    width: 1024px;
    background-color: #333
}
.nome{    
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 5px;
    border: groove;
    border-bottom: none;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
    color: white;
    text-align: center;
}
h3{
    font-size: 20px;
}
.conteudo{
    display: flex;
    flex-direction: row;
    border-top: groove;
}
/* Contatos: */
.cont, .cursos, .formacao, .myTags{
    background-color: #333;
    color: #fff;
    transition: 0.15s ease-in-out;
    text-align: center;
    padding: 10px 15px;
}
.cont{
    /* position: fixed; */
    flex: 3;
    border-right: groove;
}
.ccc, .titu, .dadosCon{    
    cursor: pointer;
    background-color: black;
    border: groove;
    padding: 5px;
}
.ccc:hover, .titu:hover, .dadosCon:hover{
    transform: scale(1.01,1.05);
}
.comunic{
    padding-top: 10px;
}
.dadosCon{
    padding: 5px;
    margin: 5px 10px;
}
textarea {
    width: 90%;
    height: 75px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 15px;
    resize: none;
  }
  /* formação */
.formacao{
    flex: 7;
}
.titu{
    text-align: center;
}
.facus{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: flex-end;
}
.contFacu{
    background-color: brown;
}
.facu{
    padding: 10px 0;
    /* width: 90%; */
    justify-content: right;
}
.facNome{
    padding-bottom: 15px;
    text-align: right;
}
.facDesc{
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.facDesc a{
    margin-top: 15px;
}
hr{
    width: 100%;
    background-color: #ccc;
    background-image: linear-gradient(to right, #00f, rgb(25, 195, 13));
    height: 5px;
}
p, li{
    font-size: 15px;
}
.myTags{
    background-color: darkred;
}
.cursos{
    background-color: blueviolet;
}
footer{
    background-color: #333;
    padding: 15px;
    margin: 1px;
    border: groove;
}
.cll{
    clear: both;
}
.foo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contat{
    color: rgb(85, 148, 211);
    color: goldenrod;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
}
.contat:active{
    transform: scale(1.05);
}
.myTags{
    flex: 5;
    border-right: groove;
}
.cursos{
    flex: 5;
}
.fechado{
    display: none;
}
.aberto{
    display: block;
}
