* {
    padding: 0px;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: none;
}
ul {
    list-style-type: none;
}
a:link, a:visited,  a:hover, a:active{
    color: gold;
    text-decoration: none;
}