* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: none;
    border: 5px silver;
}
ul {
    list-style-type: none;
}
a:link, a:visited, a:hover, a:active{
    color: gold;
    text-decoration: none;
}