@media (max-width: 650px) {
    .conteudo{
        display: block;
    }
    .cont, .formacao{
        width: 100%;
        padding: 15px;
    }
    h1,h2 {
        text-align: center;
    }
    ul{
        padding: 0 20px;
    }
    .cont, .myTags{
        text-align: center;
        border-bottom: groove;
        border-right: none;
    }
}