@media (max-width: 650px) {
    .conteudo{
        display: block;
    }
    .cont, .formacao{
        width: 100%;
        padding: 15px 0px;
        border-right: none;
    }
    h1,h2 {
        text-align: center;
    }
    .ccc,.titu{
        margin: 0 13px;
    }
    .cont{
        text-align: center;
        border-bottom: groove;
    }
}